.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
.navi {
  margin: 38px 150px 38px 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu {
  font-size: 28px;
  font-weight: bolder;
}
.btn {
  background-color: white;
  padding: 17px 24px;
  font-size: 20px;
  font-weight: 600px;
  border: 2px solid rgba(13, 19, 33, 1);
  border-radius: 5px;
  opacity: 70%;
}
